# copy this to /etc/systemd/system
# add to system with 'sudo systemctl enable bwg-gateway-agent.service'

[Unit]
Description=BWG gateway
After=network.target

[Service]
PIDFile=/opt/spa/pid
Type=forking
ExecStart=/opt/spa/bwg-gateway-agent start
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target