/*
*
*
*   Allow any HW access from the agent
*
*/

grant {
        permission jdk.dio.DeviceMgmtPermission "*:*", "open";
        permission jdk.dio.gpio.GPIOPinPermission "*:*", "open,setdirection";
        permission jdk.dio.gpio.GPIOPortPermission "*:*";
        permission jdk.dio.i2cbus.I2CPermission "*:*";
        permission jdk.dio.spibus.SPIPermission "*:*";
        permission jdk.dio.uart.UARTPermission "*:*";
        permission jdk.dio.watchdog.WatchdogTimerPermission "*:*";
};
